[submodule "sshpass"]
	path = sshpass
	url = https://github.com/kevinburke/sshpass.git
[submodule "dircolors-solarized"]
	path = dircolors-solarized
	url = https://github.com/seebi/dircolors-solarized.git
