[submodule "vimfiles/bundle/a.vim"]
	path = vimfiles/bundle/a.vim
	url = https://github.com/vim-scripts/a.vim
[submodule "vimfiles/bundle/cpp-enhanced"]
	path = vimfiles/bundle/cpp-enhanced
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "vimfiles/bundle/molokai"]
	path = vimfiles/bundle/molokai
	url = https://github.com/tomasr/molokai.git
[submodule "vimfiles/bundle/nerdtree"]
	path = vimfiles/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vimfiles/bundle/taglist.vim"]
	path = vimfiles/bundle/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim
[submodule "vimfiles/bundle/winmanager"]
	path = vimfiles/bundle/winmanager
	url = https://github.com/vim-scripts/winmanager.git
[submodule "vimfiles/bundle/grep.vim"]
	path = vimfiles/bundle/grep.vim
	url = https://github.com/vim-scripts/grep.vim
[submodule "vimfiles/bundle/vim-colors-solarized"]
	path = vimfiles/bundle/vim-colors-solarized
	url = https://github.com/altercation/vim-colors-solarized
[submodule "vimfiles/bundle/vim-run-interactive"]
	path = vimfiles/bundle/vim-run-interactive
	url = https://github.com/christoomey/vim-run-interactive.git
[submodule "sshpass"]
	path = sshpass
	url = https://github.com/kevinburke/sshpass.git
[submodule "vimfiles/bundle/vim-gutentags"]
	path = vimfiles/bundle/vim-gutentags
	url = https://github.com/ludovicchabant/vim-gutentags.git
[submodule "vimfiles/bundle/LeaderF"]
	path = vimfiles/bundle/LeaderF
	url = https://github.com/Yggdroot/LeaderF
[submodule "vimfiles/bundle/vim-airline"]
	path = vimfiles/bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline.git
[submodule "vimfiles/bundle/vim-airline-themes"]
	path = vimfiles/bundle/vim-airline-themes
	url = https://github.com/vim-airline/vim-airline-themes.git
